<div class="card shadow-sm">
  <div class="card-body">
    <h3><%= @user.name %></h3>
    <p>
      <strong>Admin:</strong> <%= @user.is_admin ? "Yes" : "No" %><br>
      <strong>Nationality:</strong> <%= @user.nationality %><br>
      <strong>Birthday:</strong> <%= @user.birthday %>
    </p>

    <h5 class="mt-4">Participations</h5>
    <table class="table table-sm table-bordered">
      <thead class="table-light"><tr><th>Challenge</th><th>Points</th><th>Joined</th></tr></thead>
      <tbody>
        <% @participations.each do |p| %>
          <tr>
            <td><%= link_to p.challenge.name, p.challenge %></td>
            <td><%= p.points %></td>
            <td><%= p.date_start %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if @user_badges.any? %>
      <h5 class="mt-4">Badges</h5>
      <% @user_badges.each do |ub| %>
        <span class="badge bg-info text-dark me-1"><%= link_to ub.badge.name, ub.badge, class: "text-dark text-decoration-none" %></span>
      <% end %>
    <% end %>

    <div>
      <% if can?(:manage, @user) %>
        <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-warning me-2" %>
      <% end %>
      <%= link_to "Back to Users", users_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
