<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container">
    <%= link_to "FitChallenge", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><%= link_to "Challenges", challenges_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Badges", badges_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Users", users_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Participations", participations_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Notifications", notifications_path, class: "nav-link" %></li>
      </ul>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to (current_user.name.presence || current_user.email), user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= button_to "Logout",
                          destroy_user_session_path,
                          method: :delete,
                          class: "btn btn-outline-light btn-sm",
                          form: { class: "d-inline" } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-light btn-sm ms-2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
